Body {
	background: white;
	font-family: helvetica;
	font-size: 16px;
}
.name{
	font-size: 30px;
	
}
.projects{
	font-size: 30px;
	border-bottom: 1px solid black;
}
.lesson{
	padding: 10px;
	background-color:white;
	margin-top: 5px;
	color: #7C2929;
}
.lesson:hover{
	background-color: #7C2929;
	color: white;
}
.rio{
	padding: 10px;
	margin-top: 10px;
	color: #7C2929;
}
.rio:hover{
	background-color: #7C2929;
	color: white;
}
.bio{
	border-top: 1px solid black;
}
.september{
	border-left: 1px solid black;
	padding-left: 10px;
}
.october{
	border-right: 1px solid black;
	padding-right: 5px;
}
.november{
	border-left: 1px solid black;
	padding-left: 10px
}
.indiana{
	height: 200px;
	display: inline-block;
	width: 200px;
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: 50px;
}
.iu{
	height: 250px;
	display: inline-block;
	width: 350px;
	margin-left: 750px;
	margin-top: 5px;
}
.crest{
	height: 300px;
	display: inline-block;
	width: 300px;
	margin-left: 200px;
}

 