Body {
	background: #757575;
	font-family: georgia, serif;
	font-size: 16px;
}
.container{
	font-family: georgia, serif;	
}
.paragraph{
	color: #383838;
	margin-left: 100px;
	margin-right: 100px;
}
h1{
	font-family: georgia, serif;
	font-weight: bold;
	font-size: 50px;
	color: white;
	margin-bottom: 20px;
	margin-left: 450px;
}
p{
	font-family: Georgia;
	line-height: 20px;
	margin-bottom: 20px;
}
.project{
	width: 300px;
	font-family: georgia;
}
.one{
	font-family: georgia;
	color: White;
	border: 2px dashed white;
	margin-bottom: 10px;
	margin-left: 50px;
}
.two{
	font-family: georgia;
	color: #e8e8e8;
	margin-left: 100px;
	border: 2px dotted #e8e8e8;
	margin-bottom: 10px;
}
.three{
	font-family: georgia;
	color: #c4c4c4;
	margin-left: 150px;
	border: 2px solid #c4c4c4;
}
span{
	margin-left: 100px;
}
 